<!DOCTYPE html>
<html>
  <head>
    <title>Research Web Interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <!--Import jquery, D3, D3 graph script, graph css and more -->
  </head>
  <body>
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include "header.html" %}
        <main class="mdl-layout__content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col">
              <!--First column contains search menu-->
              <!-- SEARCH MENU -->
              <div class="mdl-card mdl-shadow--4dp">
                <form action="" method="get">
                  <table class="mdl-data-table mdl-js-data-table" style="width:100%">
                    <tr>
                      <th colspan="3" class="mdl-data-table__cell--non-numeric">
                        Search Menu
                      </th>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">
                        Id
                      </td>
                      <td colspan="2">
                        <input id="search-id" type="text" value=""/>
                      </td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">
                        Year
                      </td>
                      <td colspan="2">
                        <input id="search-year" type="text" value=""/>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button id="reset" type="submit" name="reset" value="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                          RESET
                        </button>
                      </td>
                      <td></td>
                      <td>
                        <button id="search" type="submit" name="search" value="search" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                          Search
                        </button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
              <!-- COLOR LEGEND -->
            </div>
            <div class="mdl-cell mdl-cell--5-col">
              <!--Second column contains Add Article option and Results-->
              <!-- BUTTON SECTION -->
              <div class="mdl-cell mdl-cell--12-col mdl-shadow--4dp portfolio-max-width">
                <div id="addArticle">
                  <button  id="add" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored dialog-button" style="width:100%">
                    + Add Article +
                  </button>
                  <dialog id="edit-dialog" class="mdl-dialog" style="position: absolute; margin-top:30px; margin-bottom:30px; width:800px;">
                    <form name="edit-dialog-article" id="edit-dialog-form" action="/articles/add" onsubmit="return validateForm()" method="post">
                      <div class = "mdl-grid" style = "width: 100%;">
                        <!-- TITLE -->
                        <div class="mdl-cell mdl-cell--9-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-title" class="mdl-textfield__input" type="text" name="title">
                          <label class="mdl-textfield__label" for="edit-dialog-title">Title</label>
                        </div>
                        <!-- YEAR -->
                        <div  class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-year" class="mdl-textfield__input" type="text" name="year">
                          <label class="mdl-textfield__label" for="edit-dialog-year">Year</label>
                        </div>
                      </div>
                      <div class = "mdl-grid" style = "width: 100%;">
                        <!-- LINK -->
                        <div class="mdl-cell mdl-cell--8-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-link" class="mdl-textfield__input" type="text" name="link">
                          <label class="mdl-textfield__label" for="edit-dialog-link">Link</label>
                        </div>
                        <div class = "mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-where" class = "mdl-textfield__input" type = "text" name = "where">
                          <label class = "mdl-textfield__label" for="edit-dialog-where">Where</label>
                        </div>
                        <!-- SCORE -->
                        <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-score" class="mdl-textfield__input" type="text" name="score">
                          <label class="mdl-textfield__label" for="edit-dialog-score">Score</label>
                        </div>
                      </div>
                      <div class="mdl-grid" style = "width:100;">
                        <!-- SAVED -->
                        <div class="mdl-cell mdl-cell--3-col">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit-dialog-saved">
                            <input id="edit-dialog-saved" type="checkbox" class="mdl-checkbox__input" name="saved">
                            <span class="mdl-checkbox__label">Saved</span>
                          </label>
                        </div>
                        <!-- PRINTED -->
                        <div class="mdl-cell mdl-cell--3-col">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit-dialog-printed">
                            <input id="edit-dialog-printed" type="checkbox" class="mdl-checkbox__input" name="printed">
                            <span class="mdl-checkbox__label" >Printed</span>
                          </label>
                        </div>
                        <!-- READ -->
                        <div class="mdl-cell mdl-cell--3-col">
                          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit-dialog-read">
                            <input id="edit-dialog-read" type="checkbox" class="mdl-checkbox__input" name="read">
                            <span class="mdl-checkbox__label" >Read</span>
                          </label>
                        </div>
                      </div>
                      <!-- PROBLEM -->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style = "width:100%;">
                        <textarea id="edit-dialog-problem" class="mdl-textfield__input" type="text" rows = "2" name="problem"></textarea>
                        <label class="mdl-textfield__label" for="edit-dialog-problem">Problem</label>
                      </div>
                      <!-- SOLUTION -->
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style = "width:100%;">
                        <textarea id="edit-dialog-solution" class="mdl-textfield__input" type="text" rows = "2" name="solution"></textarea>
                        <label class="mdl-textfield__label" for="edit-dialog-solution">Solution</label>
                      </div>
                      <!-- AUTHORS -->
                      <div>
                        <div class = "mdl-card__supporting-text" style = "padding:8px; padding-bottom:0px;">Authors</div>
                        <div id = "edit-dialog-authors" class = "" style = "padding:10px;">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-authors-input" type="hidden">
                          <input id="edit-dialog-author-input" class="mdl-textfield__input" type="text" name="authors">
                          <label class="mdl-textfield__label" for="edit-dialog-author">Author Name</label>
                        </div>
                        <button id="edit-dialog-author-button" type="button" class="mdl-button mdl-js-button mdl-button--raised author">
                          Add Author
                        </button>
                      </div>
                      <!-- KEYWORDS -->
                      <div>
                        <div class = "mdl-card__supporting-text" style = "padding:8px; padding-bottom:0px;">Keywords</div>
                        <div id = "edit-dialog-keywords" class = "" style = "padding:10px;">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-keywords-input" type="hidden">
                          <input id="edit-dialog-keyword-input" class="mdl-textfield__input" type="text" name="keywords">
                          <label class="mdl-textfield__label" for="edit-dialog-keyword">Keyword</label>
                        </div>
                        <button id="edit-dialog-keyword-button" type="button" class="mdl-button mdl-js-button mdl-button--raised keyword">
                          Add Keyword
                        </button>
                      </div>
                      <!-- REFERENCES -->
                      <div>
                        <div class = "mdl-card__supporting-text" style = "padding:8px; padding-bottom:0px;">References</div>
                        <div id = "edit-dialog-references" class = "" style = "padding:10px;">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-references-input" type="hidden">
                          <input id="edit-dialog-reference-input" class="mdl-textfield__input" type="text" name="references">
                          <label class="mdl-textfield__label" for="edit-dialog-reference">Title, Year</label>
                        </div>
                        <button id="edit-dialog-reference-button" type="button" class="mdl-button mdl-js-button mdl-button--raised reference">
                          Add Reference
                        </button>
                      </div>
                      <!-- NOTES -->
                      <div>
                        <div class = "mdl-card__supporting-text" style = "padding:8px; padding-bottom:0px;">Notes</div>
                        <div id = "edit-dialog-notes" style = "padding:10px;">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input id="edit-dialog-notes" class="mdl-textfield__input" type="text" name="references">
                          <label class="mdl-textfield__label" for="edit-dialog-references">(date) + text</label>
                        </div>
                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised" style = "background-color:#EFC734;">
                          Add Note
                        </button>
                      </div>
                      <!-- ACTIONS -->
                      <div class="mdl-dialog__actions" style="border-top:1px solid #c6c4c4;">
                        <button type="submit" class="mdl-button save mdl-button--primary mdl-js-button mdl-button--raised mdl-button--primary" style="background-color:">
                          SAVE
                        </button>
                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised cancel">
                          CANCEL
                        </button>
                      </div>
                    </form>
                  </dialog>
                </div>
              </div>
              <!-- RESULTS SECTION -->
              <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                  <div id="results">
                    {% for a in articles %}
                    <div id="{{ a.key }}" class="result mdl-card mdl-shadow--2dp result" style="background-color:{% if (a.problematic != '') and (a.solution != '') %} #FFE0B2 {% else %} {% endif %};">
                        <div class="result-text-container mdl-shadow--2dp" style="">{{ a.title }}</div>
                        <div class="mdl-grid" style="padding-left:0px; padding-right:0px; width:100%">
                          <div class="result-text-container mdl-cell mdl-cell--3-col mdl-shadow--2dp" style="text-align:center;">{{ a.year }}</div>
                          <div class="result-text-container mdl-cell mdl-cell--3-col mdl-shadow--2dp" style="text-align:center; background-color:{% if a.saved == 'yes' %} lightgreen {% else %} #FF8A80 {% endif %};">saved</div>
                          <div class="result-text-container mdl-cell mdl-cell--3-col mdl-shadow--2dp" style="text-align:center; background-color:{% if a.printed == 'yes' %} lightgreen {% else %} #FF8A80 {% endif %};">printed</div>
                          <div class="result-text-container mdl-cell mdl-cell--3-col mdl-shadow--2dp" style="text-align:center;">{{ a.score }}</div>
                        </div>
                        <div class="result-text-container mdl-shadow--2dp">
                          <span style="color:#EF6C00;">{{ a.problem }}</span>
                          <span style="color:green;">{{ a.solution }}</span>
                        </div>
                    </div>
                    {% endfor %}
                  </div>
                  <dialog id="displayed-article" class="mdl-dialog">
                    <div class="mdl-grid">
                      <div class="mdl-cell">
                        <span id="display-dialog-score"></span>
                      </div>
                      <div id = "display-dialog-where" class="mdl-cell" style="text-align:right;"></div>
                    </div>
                    <h5 id="display-dialog-title" class="mdl-dialog__title" style="padding:10px;"></h5>
                    <div class="mdl-grid">
                      <div id="display-dialog-year" class="mdl-cell mdl-cell--5-col"></div>
                      <div id="display-dialog-saved" class="mdl-cell mdl-cell--1-col" style="background-color:lightgreen; border-radius:2px;text-align:center;">saved</div>
                      <div id="display-dialog-printed" class="mdl-cell mdl-cell--1-col" style="background-color:lightgreen; border-radius:2px;text-align:center;">printed</div>
                      <div id="display-dialog-read" class="mdl-cell mdl-cell--1-col" style="background-color:#FF8A80; border-radius:2px;text-align:center;">read</div>
                    </div>
                    <!-- PROBLEM -->
                    <div id="display-dialog-problem" style="padding:10px; color:#EF6C00;font-size:16px;"></div>
                    <!-- SOLUTION -->
                    <div id="display-dialog-solution" style="padding:10px;color:green;font-size:16px;"></div>
                    <!-- AUTHORS -->
                    <div class="mdl-card__supporting-text" style="padding:8px;padding-bottom:0px;">Authors</div>
                    <div id="display-dialog-authors" style="padding:10px;"></div>
                    <!-- KEYWORDS -->
                    <div class="mdl-card__supporting-text" style="padding:8px;padding-bottom:0px;">Keywords</div>
                    <div id="display-dialog-keywords" style="padding:10px;"></div>
                    <!-- REFERENCES -->
                    <div class="mdl-card__supporting-text" style="padding:8px;padding-bottom:0px;">References</div>
                    <div id="display-dialog-references" style="padding:10px;"></div>
                    <!-- NOTES -->
                    <div class = "mdl-card__supporting-text" style="padding:8px; padding-bottom:0px;">Notes</div>
                    <div id="display-dialog-notes" style="border-bottom:1px solid #E0E0E0;padding:10px;"></div>
                    <!-- ACTIONS -->
                    <div class="mdl-dialog__actions">
                      <button type="button" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-button--primary" style="background-color:">
                        <a id="open-pdf" href="" target="_blank">LINK</a>
                      </button>
                      <button id="edit-article" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        EDIT
                      </button>
                      <button type="cancel" class="mdl-button mdl-js-button mdl-button--raised cancel">
                        CLOSE
                      </button>
                      <button type="button" id="delete-article" class="mdl-button mdl-js-button mdl-button--raised" style="background-color:#d60404;margin-right: auto;">
                        DELETE
                      </button>
                    </div>
                  </dialog>
                  <!-- CONFIRM DELETE DIALOG -->
                  <dialog id="confirm-delete-dialog" class="mdl-dialog">
                    <form name="" action="/articles/delete" method="POST">
                      <h5 class="mdl-dialog__title">Are you sure you want to delete this article?</h5>
                      <input id="article-id" name="article-id" value="" type="hidden">
                      <div class="mdl-dialog__actions">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised" style="background-color:red;">YES</button>
                        <button id="cancel-delete" type="button" class="mdl-button mdl-js-button mdl-button--raised cancel" style="background-color:lightgreen;">NO</button>
                      </div>
                    </form>
                  </dialog>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="static/javascripts/script.js"></script>
  </body>
</html>
