<!DOCTYPE html>
<html>
  <head>
    <title>Research Web Interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <!--Import jquery, D3, D3 graph script, graph css and more -->
  </head>
  <body>
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include "header.html" %}
        <main class="mdl-layout__content">
          <div class="mdl-grid portfolio-max-width">

            {% for f in file_info %}
            <div id="{{ f.filename }}" class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
              <form action="/documentation/{{ f.filename }}" method="post">
                <input type="hidden" name="path" value="{{ f.path }}">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">{{ f.title }}</h2>
                </div>
                <div class="mdl-card__supporting-text" style="{% if f.category == 'Basics' %}background-color:lightblue;{% elif f.category == 'Business' %}background-color:#FF8A80;{% elif f.category == 'Machine Learning' %}background-color:#FFE0B2;{% else %}background-color:lightgreen;{% endif %}">
                  {{ f.category }}
                </div>
                <div class="mdl-card__supporting-text">
                  {{ f.summary }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    Read
                  </button>
                </div>
              </form>
            </div>
            {% endfor %}
          </div>
        </main>
      </div>
    </div>
    <script src="static/javascripts/modal-script.js"></script>
  </body>
</html>
