<!DOCTYPE html>
<html>
  <head>
    <title>Research Web Interface</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <!--Import jquery, D3, D3 graph script, graph css and more -->
  </head>
  <body>
    <div class="mdl-layout__container">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include "header.html" %}
        <main class="mdl-layout__content">
          <section class="section--center mdl-grid mdl-grid--no-spacing" style="max-width: 620px;margin-bottom: 72px;">
            <div class="mdl-cell mdl-cell--12-col" style="">
              {{ content }}
            </div>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
