<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Real-Time Bidding - {{ name }}</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font mdl-layout--large-screen-only">
      <a href="/" class="mdl-navigation__link">Home</a>
      <a href="/articles" class="mdl-navigation__link">Articles</a>
      <a href="/discover" class="mdl-navigation__link">Discover</a>
      <a href="/visualisations" class="mdl-navigation__link">Visualizations</a>
      <a href="/documentation" class="mdl-navigation__link">Documentation</a>
      <a href="/resources" class="mdl-navigation__link">Resources</a>
      <a href="/notes" class="mdl-navigation__link">Notes</a>
      <a href="/questions" class="mdl-navigation__link">Questions</a>
      <a href="/dictionary" class="mdl-navigation__link">Dictionary</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ name }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/articles">Articles</a>
    <a class="mdl-navigation__link" href="/discover">Discover</a>
    <a class="mdl-navigation__link" href="/visualisations">Visualizations</a>
    <a class="mdl-navigation__link" href="/documentation">Documentation</a>
    <a class="mdl-navigation__link" href="/resources">Resources</a>
    <a class="mdl-navigation__link" href="/notes">Notes</a>
    <a class="mdl-navigation__link" href="/questions">Questions</a>
    <a class="mdl-navigation__link" href="/dictionary">Dictionary</a>
  </nav>
</div>
